# dot files
.build/
.DS_Store
.esm-cache
.nyc_output
.tmp/
.vscode
*.env

# debug
npm-debug.log*
yarn-error.log*

# folders
coverage*/
demo*/
dist*/
node_modules/

# .js files
*.d.ts*
*.js
*.jsx
gulpfile*.js

# Don't ignore files
!src/**/*.js
!src/**/*.jsx
