# dot files
.build/
.DS_Store
.esm-cache
.nyc_output
.tmp/
.vscode
*.env

# debug
firebase-debug*.log*
npm-debug.log*
yarn-error.log*

# folders
coverage*/
demo*/
dist*/
node_modules/
test*/

# .js files
gulpfile*.js
